<div>
  <h2 id="page-heading" data-cy="SongHeading">
    <span>Songs</span>
    <div class="container">
      <form>
        <h3> Search Songs
        </h3>
        <div class="form-group">
          <div class="row">
            <div *ngIf="!model?.performer && !model?.writer" class="alert">
              <strong>Warning!</strong> A minimum of <span class="bold">one</span> field is required
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 shift-right">
              <label for="performer">Performer</label>
            </div>
            <div class="col-md-6">
              <input name="performer" [(ngModel)]="model.performer" type="text" class="form-control" id="perfomer" title="Enter performer" placeholder="Enter performer">
            </div>
          </div>
        </div><br>
        <div class="form-group">
          <div class="row">
            <div class="col-md-3 shift-right">
              <label for="perfomer">Writer</label>
            </div>
            <div class="col-md-6">
              <input name="writer" [(ngModel)]="model.writer" type="text" class="form-control" id="writer" title="Enter writer" placeholder="Enter writer">
            </div>
          </div>
        </div>
        <br>
        <div class="row searchdiv">
          <button [disabled]="!model?.performer && !model?.writer" class="btn btn-primary" (click)="searchSongs()" id="searchButton" title="Search songs">Search </button>
        </div>
      </form>
    </div>

    <div *ngIf="showResults">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">Look at all of your results! </div>
        <div class="col-md-5"></div>
      </div>
    </div>


    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-song" [routerLink]="['/song/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Song </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="songs?.length === 0">
    <span>No songs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="songs && songs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col"><span>ID</span>
          </th>
          <th scope="col"><span>Title</span>
          </th>
          <th scope="col"><span>Performer</span>
          </th>
          <th scope="col" jhiSortBy="length"><span>Length</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"><span>Soundtrack</span>
          </th>
          <th scope="col"><span>Track Number</span>
          </th>
          <th scope="col"><span>Url</span>
          </th>
          <th scope="col"><span>Writer</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/song', song.id, 'view']">{{ song.id }}</a>
          </td>
          <td>{{ song.title }}</td>
          <td>{{ song.performer }}</td>
          <td title="{{ song.length }}">{{ song.length }}</td>
          <td>{{ song.soundtrack }}</td>
          <td>{{ song.trackNumber }}</td>
          <td>
            <button (click)="playButtonClicked(song.url)" style="border-style: solid; border-radius: 50%; border-color: #1a4480; background-color: #1a4480; ">
              <fa-icon icon="play" style="color: #d9e8f6"></fa-icon>
            </button>
          </td>
          <td>{{ song.writer }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/song', song.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/song', song.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(song)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="songs && songs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
