<img src="content/images/test.jpg" style="width: 100%; height: auto;">
<p>
  Marty McFly, a typical American teenager of the Eighties, is accidentally sent back to 1955 in a plutonium-powered DeLorean "time machine" invented by a slightly mad scientist. During his often hysterical, always amazing trip back in time, Marty must make certain his teenage parents-to-be meet and fall in love - so he can get back to the future.
</p>

<p>
  To listen to the hit records of Back to the Future and learn more about them, sign in below.
</p>

<div class="container">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary col-4" (click)="login()">Sign In</button>
  </div>
</div>
